* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}
body {
  background-color: #f1f1f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  box-shadow: 3px 3px 3px grey;
}

header .logo img {
  height: 70px;
  transition: all 0.2s;
}

header .logo img:hover {
  transform: scale(1.2);
}

header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 50px;
}

header .navbar ul li a {
  font-size: medium;
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
}

header .navbar ul li a:hover {
  background-color: #fff;
  color: orange;
  border-bottom: 2px solid orange;
  border-radius: 1px;
}
.breadcrumb {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
}
.lightWeightText {
  opacity: 0.5;
}
.container {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #1e1e1e;
  color: white;
}

.details {
  height: 100%;
  margin-left: 10%;
  display: flex;
}
.restaurantLogo {
  width: 20%;
  height: 20%;
}
.info > * {
  margin: 10px;
}
.info {
  margin-left: 3%;
  font-size: medium;
}

.info > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 100px;
}

.otherInfo {
  margin: 5px;
  padding-right: 25px;
}

.offers {
  margin-left: 10%;
  margin-top: 3%;
  max-width: 250px;
}
.offers div {
  margin-top: 20px;
  padding-left: 20px;
  font-size: small;
}
